#chart{width: 350px; height: 350px; align-items: center;}
#img{display: inline-block;}
#menu1{font-size: 40px; font-weight: 700; padding-top: 90; padding-left: 165; padding-bottom: 20;
}
#hr1{height: 3px; margin: 0px auto; width: 95%;}
#menu1-img{padding-top: 100; padding-left: 350;}
#menu1-name{padding-left: 60;}