.all {
		  color : black;
		}
		
a:hover {
 			color : black;
	}

.items {
		text-decoration-line: none;
		color : black;
	}
	
#font_size{
	font-size: 13;
	}

#item_name_font{
	font-weight: 500;
	word-spacing: 2px;
	}

	

