.all {
		  color : black;
		}
		
a:hover {
 			color : rgb(255, 255, 255);
 			text-decoration-line: none;
	}
	

.items{
		text-decoration-line: none;
	} 
	
a{text-decoration-line: none;}
	
#font_size{
	font-size: 13;
	}

#item_name_font{
	font-weight: 500;
	word-spacing: 2px;
	}

	

